{% load sekizai_tags %}
{% load sliders_extra %}
{% load staticfiles %}

{% addtoblock "css" %}<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/flexslider.css"></script>{% endaddtoblock %}
{% addtoblock "js" %}
<script type="text/javascript" src="{{ STATIC_URL }}js/flexslider.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.flexslider-min.js"></script>
{% endaddtoblock %}

<div class="clear"></div>
<div class="sliders">
    {% if sliders %}
      <div class="flexslider">
        <ul class="slides">
          {% for slide in sliders|dictsort:"index" %}
          <li>
            <img src="{{ slide.image.url }}" />
            <p class="flex-caption">{{ slide.descript }}</p>
          </li>
          {% endfor %}
        </ul>
      </div>
    {% endif %}
</div>