{% load sekizai_tags %}
{% addtoblock "css" %}<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/users.css"></script>{% endaddtoblock %}

<div class="users">
<table>
    {% for user in users %}
        <tr>
            <td>{{ user.first_name }}</td>
            <td>{{ user.last_name }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.affiliation }}</td>
            {% if user.avatar %} 
            <td><img src="{{ user.avatar.url }}" style="height:50px;"></td>
            {% else %}
            <td></td>
            {% endif %}
        {% if site in user.interests.all %} 
        {% endif %}
            </td>
    {% endfor %}
    </table>
</div>