/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 11.5.2015, 4:08:33 PM
    Author     : maik
*/
.users table tr td {
    padding-left: 5px;
    padding-right: 5px;
}

.textinput, .emailinput { 
  width: 270px; 
}