/* 
    Created on : Oct 26, 2014, 4:22:37 PM
    Author     : maik
*/
body {
    background: url(../images/b03.png) repeat-x;
}

div.forumdev-header .logo {
    float:left;
    min-width: 200px;
    width: 10%;
    padding-bottom:5px;
}

div.forumdev-header .sponsors {
    text-align:right;
}

.navbar-default {
    /*background-color: #FC9210 !important;*/
    background-image: linear-gradient(to bottom,#FC9210 0,#FCBD10 100%) !important;
    border-color: #FC9610 !important;
    background-color: #FC9610 !important;
}

.navbar-default .navbar-nav>.active>a {
    background-image: linear-gradient(to bottom,#FC6E10 0,#FCBD10 100%) !important;
}