{% load sekizai_tags %}
{% addtoblock "css" %}<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/logo.css"></script>{% endaddtoblock %}

<div class="logo">
{% for logo in logos %}
    {% if site in logo.sites.all %} 
        {% if logo.image.url %} 
        <a href="{% if logo.url %}{{ logo.url }}{% else %}/{% endif %}" title="">
            <img src="{{ logo.image.url }}" style="height:63px;">
        </a>
            {% if logo.title %}
                {{ logo.title }}
            {% endif %}
        {% endif %}
    {% endif %}
{% endfor %}
</div>   