/* 
    Created on : Oct 26, 2014, 4:08:33 PM
    Author     : maik
*/

/* Category */

.multicolumn2 {
    margin-bottom:1%;
}
.image-portada {
    position: relative;
    width: 99%;
    /*margin-left: 1%;*/
    /*margin-right: 1%;*/
    /*margin-left:1px;*/
    float: left;
}



.image-portada p {
    /* padding: 18px 16px 10px 16px; */
    padding:3%;
    margin: 0px;
    line-height: 1.1em;
    font-size: 1.0em;
}

.image-portada img {
    width:100%;
}

.wrapper-portada1 {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    background-color: black;
    font-size: 18px;
    color: white;
    background-color: rgba(176,194,8,1);
    min-height: 10%;
}

.image-portada p span {
    margin: 0px;
}
.image-portada p a {
    vertical-align:middle;
    /*text-shadow: 0.1em 0.2em 0.2em rgba(0,0,0,0.4);*/
    font-weight: normal;
    color: #fff;
    font-size: 34px;
}


.subitem-box {
    position: relative;
}
.subitem-text {
    position: absolute;
    top: 0px;
    color: white;
    font-size: 16px !important;
    width: 100%;
    font-weight: normal;
    padding: 5px;
    padding-top: 11px;
    line-height: 1.15em;
    background-color: rgba(176,194,8,1);
}
.subitems li {
    display: inline;
    float: left;
    padding: 1%;
    width:32%;
}
ul.subitems {
    position: absolute;
    bottom: 0px;
    left: 5px;
    width: 100%;
    font-size: 17px;
    color: white;
    padding: 0;
    margin: 0;
    float: left;
    list-style-type: none;
}
.subitems li a {
    color: #fff;
}