{% load sekizai_tags %}
{% load staticfiles %}
{% addtoblock "css" %}<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/boxes.css"></script>{% endaddtoblock %}
{% addtoblock "js" %}
<script type="text/javascript" src="{{ STATIC_URL }}js/boxes.js"></script>
{% endaddtoblock %}

  <!--<br class="boxclear" />-->

<div class="boxes">
  <ul class="medialist">
    {% for box in boxes %}
    <li>
      <div class="wrapper-media">
        <img alt="{{ box.title }}" src="{{ box.image.url }}">
        <a href="{{ box.link }}" target="_blank" title="{{ box.title }}">{{ box.title }}</a>
      </div>
    </li>
    {% endfor %}
  </ul>
</div>   

